.navbar {
  border-bottom: 1px solid #B0B0B0;
  height: 4rem;
  background-color: white;
}
.brand-name {
  border: 1px solid transparent;
}
.fa-instagram {
  padding-right: 1rem;
  border-right: 1px solid black;
  
}
.insta {
  height: 3rem; 
  padding-left: 1rem;
}

.form-inline {
  width: 650px;
}

.form-inline .form-control {
  width: 300px;
  background-color: #fafafa;
}
.form-inline .form-control:focus {
  background-color: White;
}
::-webkit-input-placeholder {
  text-align: center;
}
li {
  margin-right: 2rem;
}

a {
  color: 	#787878;
  border-bottom: 1px solid transparent;
}
a:hover {
  color: black;

}
.brand-name:hover {
 color: #ff841d;
 border-bottom: none;
 cursor: pointer;
 
}