.navbar {
  border-bottom: 1px solid #B0B0B0;
  height: 4rem;
  background-color: white;
}
.navbar-brand {
  margin-left: 1rem;
}


.form-inline {
  width: 650px;
}
.form-inline .form-control {
  width: 300px;
}
li {
  margin-right: 2rem;
}

a {
  color: 	#787878;
  border-bottom: 1px solid transparent;
}
a:hover {
  color: black;

}
.brand-name:hover {
 color: #ff841d;
 border-bottom: none;
 cursor: pointer;
 
}