.login {
  margin-top: 8rem;
}
form button {
  margin-bottom: 1rem;
}
.insta-name {
  height: 5rem; 
  width: 12rem;
}

.row--signup {
  margin-top: 2rem;
}

.no-account {
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 0;
}
.create-account {
 text-decoration: underline;
 color: #39a1f6;
}